name: Build package
on:
  workflow_dispatch:
    inputs:
      ref:
        required: true
        default: v6.16.0
        type: string

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build package
    runs-on: windows-2025
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Set up MinGW
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW32
          install: >-
            base-devel
            mingw-w64-i686-toolchain
            mingw-w64-i686-python
            mingw-w64-i686-python-pip

      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: pyinstaller/pyinstaller
          ref: ${{ inputs.ref }}

      - name: Build bootloader
        run: |
          cd bootloader
          CFLAGS=-DPSAPI_VERSION=1 LDFLAGS=-lpsapi python waf all --target-arch=32bit --gcc

      - name: Build package
  run: |
    python -m pip install build setuptools wheel hatchling
    python -m build --no-isolation

      - name: Generate index.html
        run: |
          cat <<EOF > dist/index.html
          <!DOCTYPE html>
          <html>
          <body>
          <ul>
          $(ls dist | sed -r 's,.+,<li><a href="\0">\0</a></li>,')
          </ul>
          </body>
          EOF

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4


